.circle {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;

}

a {
    text-decoration: none;
}

div {
    overflow: hidden;
}

.caption {
    color: white;
    font-size: 13px;
    position: relative;
    bottom: -56px;
    left: -13px;
    width: 80px;
    z-index: 1;
}

.roundedRect {
    width: 309px;
    height: 44px;
    border-radius: 20px;
    cursor: pointer;

}

.frame {
    background-image: url(../Image/frame.jpg);
    background-size: 433px 874px;
    background-position: -20px -22px;
    border-radius: 44px;
    width: 388px;
    height: 821px;
    z-index: -2;
}

.wallpaper {
    background-image: url(../Image/wallpaper.jpg);
    background-size: 100%;
    border-radius: 21px;
    width: 360px;
    height: 720px;
    z-index: 0;
    margin-top: -772px;
    margin-left: 14px;
}

.icon {
    background-image: url(../Image/template.jpg);
    background-size: 360px 720px;
}

.icon-template {
    background-size: 100%;
    width: 360px;
    height: 720px;
    position: relative;
    left: 500px;
    bottom: -769px;
}

.icon-googleWidget {
    background-position: -26px -57px;
    z-index: 1;
    margin-top: -663px;
    margin-left: 40px;
}

.icon-notes {
    background-position: -27.5px -134px;
    z-index: 1;
    margin-top: 0px;
    margin-left: 40px;
    display: inline-block;
}

.icon-miFit {
    background-position: 248px -133px;
    z-index: 1;
    margin-top: 0px;
    margin-left: 20px;
    display: inline-block;
}

.icon-discord {
    display: inline-block;
    background-position: 163px -133px;
    z-index: 1;
    margin-top: 0px;
    margin-left: 20px;
}

.icon-moneyLover {
    display: inline-block;
    background-position: 79px -133px;
    z-index: 1;
    margin-top: 0px;
    margin-left: 20px;
}

.icon-clock {
    display: inline-block;
    background-position: -27.3px -228px;
    z-index: 1;
    margin-top: 40px;
    margin-left: 20px;
}

.icon-princessConnect {
    display: inline-block;
    background-position: -27.5px -228px;
    z-index: 1;
    margin-top: 0px;
    margin-left: 20px;
}

.icon-chrome {
    display: inline-block;
    background-position: -27.5px -228px;
    z-index: 1;
    margin-top: 0px;
    margin-left: 20px;
}

.icon-messenger {

    background-position: -27.5px -228px;
    z-index: 1;
    margin-top: 40px;
    margin-left: 40px;
}

.icon-facebook {
    background-position: -27.5px -228px;
    z-index: 1;
    margin-top: 42px;
    margin-left: 40px;
}

.icon-google {
    background-position: -27.5px -228px;
    z-index: 1;
    margin-top: 42px;
    margin-left: 40px;
}